## /etc/hosts
## {{ ansible_managed }}

127.0.0.1	localhost
::1		localhost ip6-localhost ip6-loopback
ff02::1		ip6-allnodes
ff02::2		ip6-allrouters

{{ ansible_default_ipv4.address }} {{ inventory_hostname ~ '.' ~ default_domain }} {{ inventory_hostname_short }}

{% if ansible_default_ipv6 %}
{{ ansible_default_ipv6.address }} {{ inventory_hostname ~ '.' ~ default_domain }} {{ inventory_hostname_short }}
{% endif %}
